*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 100px;
  filter: brightness(1) invert(1);
  margin-bottom: 3rem;
}

#root h1,h3 {
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 255, 0);
  text-shadow: 1px 1px 25px rgba(0, 255, 0, 0.8);
}
