.welcome {
    font-size: 2.5rem;
}

.tagline {
    font-size: 1.5rem;
}

header #navbar img {
    width: 6rem;
}

#about ul li {
    flex-wrap: wrap;
}


#menu img {
    width: 80%;
}

.box {
    margin: 0% 9%;
}


.paragraph {
    font-size: 0.9rem;
}

.heading {
    font-size: 1.5rem;
}

.image {
    margin: 0;
    padding: 0;
}

.image img {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin: 0 20%;
}

#left-img {
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 10%;
}

#right-img {
    align-items: center;
    margin: 0;
    padding: 0;
}

#bottom-img {
    align-items: center;
    margin: 0;
    padding: 0;
}

#left-para {
    margin-top: 1%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#right-para {
    margin-top: 1%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#bottom-para {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#menu video {
    border-radius: 7px;
}

.content{
    font-size: 1.1rem;
}

.club img {
    width: 10rem;
}

#git {
    width: 8rem;
}